.container {
  width: 100%;
  margin-bottom: -30px;
}

.cardContainer {
  padding: 20px;
}

.itemContainer {
}

.card {
}

.cardContent {
  display: flex;
}

.itemCardContent {
  display: flex;
}

.left {
  max-width: 30%;
  width: 100%;
}

.itemLeft {
  max-width: 30%;
  width: 100%;
}

.itemRight {
  width: 100%;
}

:global(.ant-typography).title {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 10px;
}

.right {
  max-width: 70%;
  width: 100%;
  padding-left: 20px;
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
}

:global(.ant-btn).btnSave {
  max-width: 200px;
  width: 100%;
}
